* {
    box-sizing: border-box;
}

:root {
    --desc-color: #9DA6A5;
    --sub-title-color: #767E7E;
    --title-color: #0D1111;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}


/* Common */

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.row {
    display: flex;
    align-items: center;
}

.heading {
    color: var(--sub-title-color);
    font-size: 1.4rem;
}

.heading.customer{
    font-size: 1.2rem;
    font-weight: 700;  
    text-transform: uppercase;
    letter-spacing: 6px;
}

.title {
    color: var(--title-color);
    font-weight: 700;
}

.title.lv1 {
    font-size: 6.2rem;
    line-height: 1.161;
}

.title.lv2 {
    font-size: 4.2rem;
    line-height: 1.3333;
}

.title.lv3 {
    font-size: 2.2rem;
}

.sub-title {
    color: var(--sub-title-color);
    font-size: 1.8rem;
}

.desc {
    color: var(--desc-color);
    font-size: 1.8rem;
}

.word-wrap {
    white-space: nowrap;
}

.btn {
    padding: 20px 41px 21px;
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;

    border-radius: 14px;
    background: #1EBFC1;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

/* Header */
.header {
    background-color: #fff;
    position: sticky;
    top: -36px;
    z-index: 1;
}

.nav__content {
    padding: 52px 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}





.header__nav {
    display: flex;
    gap: 0 39px;
}

.header__item a {
    color: #2F3A3B;
    font-size: 1.6rem;
}

.header__item.active a {
    font-weight: 600;
}

.header__btn {
    display: flex;
    gap: 0 24px;
    font-size: 1.6rem;
}

.header__btn--sign-in a {
    color: #494949;
}

.header__btn--sign-up a {
    border-radius: 6px;
    border: 1px solid #1EBFC1;
    padding: 12px 24px;
    color: #1EBFC1;
}

/* Started */
.started {
    padding: 34px 0 79px;
}

.started__content {
    justify-content: space-between;
}

.started__hero-img {
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.started__title {
    margin-top: 18px;
}

.started__info {
    width: 458px;
}

.started_desc {
    margin-top: 46px;
    width: 80%;
    line-height: 1.777;
}

.started__btns {
    margin-top: 52px;
    gap: 50px;
}

.started_play {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 22px 25px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.started__hero {
    position: relative;
    background-color: #e0f7f6;
}

.started__box {
    display: inline-flex;
    background: #FEFEFD;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.07);
    border-radius: 18px;
}

.started__course {
    position: absolute;
    top: 149px;
    left: -40px;
    padding: 17px 25px 18px;
    gap: 0 16px;

}

.started__course-book {
    position: relative;
}

.started__course-book .shape {
    width: 36px;
    height: 40px;
    background-color: #FF8282;
    border-radius: 4px;
}

.started__course-book .line {
    position: absolute;
    bottom: 8px;
    left: 4px;
    width: 28px;
    height: 4px;
    background-color: #fff;
    border-radius: 10px;
}

.started__note-name {
    color: #0D1111;
    font-size: 1rem;
    font-weight: 500;
}

.started__schedules .started__note-name {
    margin-bottom: 16px;
    text-align: center;
}

.started__schedules {
    position: absolute;
    flex-direction: column;

    left: -49px;
    bottom: 46px;
    padding: 16px 25px 23px;
}

.started__schedules .process {
    display: inline-flex;

    --indicator: 30%;
}

.started__schedules .process+.process {
    margin-top: 12px;
}

.started__schedules .process-bar-fill {
    width: var(--indicator);
}

.started__schedules .rectangle {
    margin: 16px auto 0;
    width: 26px;
    height: 6px;
    border-radius: 3px;
    background: #EDF1F5;
    
}

.started__active-student{
    flex-direction: column;

    position: absolute;
    right: 45px;
    bottom: 41px;
    padding: 17px 35px;
}

.started__active-student .avt-group{
    display: flex;
    margin-top: 8px;
    align-items: center;
    gap: 0 -7px;
}

.started__active-student .avatar:not(:first-child){
    margin-left: -7px;
}



.started__active-student .avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bgr-avt, #1EBFC1);
    width: 33px;
    height: 33px;
    border-radius: 50%;
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
}

/* Features */
.features{
    margin: 130px 0;
}

.features__header{
    width: 52.5%;
}

.features__list{
    margin-top: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .features__item{
    width: 33.33%;
} */

.features__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 102px;
    height: 106px;
    background-color: var(--btr-icon, #31b7b7);
}

.features__title{
    margin-top: 26px;
    font-size: 2rem;
    font-weight: 600;
}

.features_desc{
    margin-top: 16px;
    width: 225px;
    font-weight: 400;
    line-height: 1.6875;
    font-size: 1.6rem;
}

.features__header .sub-title{
    margin-top: 18px;
}

/* Popular */
.popular{
    margin-top: 130px;
}

.popular__title{
    margin-top: 18px;
}

.popular__header .block_view{
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular__sub-title{
    line-height: 1.7777;
    max-width: 525px;
}

.popular__view-all{
    color: #1EBFC1;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration-line: underline;
}

.popular__list{
    margin-top: 79px;
    display: flex;
    gap: 0 47px;
}

.popular__item{
    position: relative;
    width: 33.33%;
    cursor: pointer;
}

.popular__img{
    width: 100%;
    opacity: 0.6;
    object-fit: cover;
    border-radius: 8px;
    /* background: #D0EFED; */
}

.popular__info{
    position: absolute;
    top: 78%;
    left: 17px;
    right: 17px;
    padding: 16px 25px 29px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.popular__coast{
    margin-top: 16px;
    color: #767E7E;
    font-size: 1.6rem;
}

.popular__coast strong{
    color: #0D1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.popular__desc{
    margin-top: 6px;
    color: #9DA6A5;
    font-size: 1.4rem;
}

.popular__date {
    margin-top: 18px;
    gap: 0 10px;
    color: #9DA6A5;
    font-size: 1.4rem;
}

.popular__date-icon{
    display: inline-flex;
    align-items: center;
}

.popular__date-icon::before{
    margin-right: 10px;
    content: "";
    width: 6px;
    height: 6px;
    background-color: #1EBFC1;
    border-radius: 50%;
}

.popular__paramator{
    margin-top: 389px;
    justify-content: center;
    gap: 0 202px;
}

.paramator__item{
    text-align: center;
}

/* feadback */
.feadback{
    margin-top: 264px;
}

.feadback__info{
    width: 40%;
}

.feadback__mess{
    margin-top: 27px;
    width: 419px;
    color: #5D6564;
    font-size: 3.2rem;
    line-height: 1.5;
}

.feadback__author{
    margin-top: 44px;
    color: #767E7E;
    font-size: 1.6rem;
}

.feadback__author b{
    color: #070707;
    font-size: 1.6rem;
    font-weight: 500;
}

.feadback__change-btn{
    margin-top: 52px;
    gap: 0 30px;
}

.feadback__icon{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #2AC9BF;
}

.feadback_item{
    justify-content: space-between;
}

.feadback__avt{
    width: 60%;    
}

.feadback__avt img {
    width: 100%;
    object-fit: cover;
}

/* Admit */
.admit{
    margin-top: 130px;
    background-color: #DEF6F5;
    padding: 76px 0 88px;
}

.admit__info{
    width: 50%;
}

.amit__btn{
    display: flex;
    justify-content: center;
    width: 50%;
}

.admit__title{
    color: #070707;
    line-height: normal;
    margin-bottom: 18px;
}

/* Footer */
.footer{
    margin: 130px 0 50px;
}

.footer__row{
    align-items: flex-start;
    justify-content: space-between;
    gap: 0 144px;
}

.footer__column-title{
    color: #2E2E2E;
    font-size: 1.8rem;
    font-weight: 500;
}

.footer__item a{
    color: #535353;
    font-size: 1.6rem;
}

.footer__column .footer__item:not(:first-child){
    margin-top: 18px;
}

.footer__column .footer__item:nth-child(2){
    margin-top: 25px;
}

.footer__end{
    margin-top: 80px;
    text-align: center;
    color: #B0B5B4;
    font-size: 1.8rem;
}